<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form enctype="multipart/form-data" action="/upload" method="post">
        <label for="template">Select the template image</label>
        <input type="file" id="template" name="template">
        <br />
        <label for="data">Select the data file (csv)</label>
        <input type="file" id="data" name="data">
        <br />
        <input type="submit">
    </form>
</body>

</html>
